* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #f5f5f1;

}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    text-shadow: -2px 2px 10px rgba(1, 0, 0, 0.74);
}

.app {
    background-color: #111;
}